<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="\logs\internal\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="allfile" xsi:type="File" fileName="logs\all\all_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>

    <target name="exceptions" xsi:type="File" fileName="logs\exceptions\exceptions-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>

    <target name="request-time" xsi:type="File" fileName="logs\request_time\request_time-${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile"/>
    <logger name="FvManagerApi.*" minlevel="Error" writeTo="exceptions"/>
    <logger name="FvManagerApi.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time"/>
  </rules>
</nlog>